<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/welcome"><b>Angular-5</b></a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li [routerLinkActive]="['active']"><a
					[routerLink]="['welcome']">Home</a></li>
				<li class="dropdown" [routerLinkActive]="['active']"><a
					class="dropdown-toggle" data-toggle="dropdown"
					[routerLink]="['service']">Service<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Page 1-1</a></li>
						<li><a href="#">Page 1-2</a></li>
						<li><a href="#">Page 1-3</a></li>
					</ul></li>
				<li [routerLinkActive]="['active']"><a [routerLink]="['about']">About</a></li>
				<li [routerLinkActive]="['active']"><a
					[routerLink]="['contact']">Contact</a></li>
				<li [routerLinkActive]="['active']"><a
					[routerLink]="['flight']">Flight Search</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a [routerLink]="['register']"><span
						class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a [routerLink]="['login']"><span
						class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
		</div>
	</div>
</nav>
