<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="productDetails">
				<img src="{{ProductImage_1}}">
				<div class="productTitle">
					<h4>Samsung Galaxy J5</h4>
				</div>
				<p>13MP primary camera with FHD recording, f1.9 flash and
					autofocus, auto, beauty face, continuous shot...</p>
				<span><b>Price:</b> 8690</span>
			</div>
			<a href="products/1" class="btn btn-primary pull-right">Read
				More...</a>
		</div>
		<div class="col-md-4">
			<div class="productDetails">
				<img src="{{ProductImage_2}}">
				<div class="productTitle">
					<h4>Samsung Galaxy J7 Prime</h4>
				</div>
				<p>13MP primary camera with FHD recording, f1.9 flash and
					autofocus, auto, beauty face, continuous shot...</p>
				<span><b>Price:</b> 16900</span>
			</div>
			<a href="products/1" class="btn btn-primary pull-right">Read
				More...</a>
		</div>
		<div class="col-md-4">
			<div class="productDetails">
				<img src="{{ProductImage_3}}">
				<div class="productTitle">
					<h4>Samsung Galaxy J5</h4>
				</div>
				<p>13MP primary camera with FHD recording, f1.9 flash and
					autofocus, auto, beauty face, continuous shot...</p>
				<span><b>Price:</b> 13900</span>
			</div>
			<a href="products/1" class="btn btn-primary pull-right">Read
				More...</a>
		</div>
	</div>
</div>

